<%= flash[:update_failed] %>

<div class="container">
  <div class="row">
  <!--form_withは自動でメソッドを使い分けるため指定edit/createで場合分けする必要なし-->
  <%= form_with model: post do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title, style: "width: 800px;" %>
    <h4>本文</h4>
    <%= f.text_area :body,  class: 'form-control',size: "30x10" %><br>
    <h4>タグ選択</h4>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :item) do |tag| %>
      <%= tag.check_box %>
      <%= tag.text %>
    <% end %>

<!-- セレクトボックス形式 カテゴリごとにこちらで選択式にする？ -->
<!--%= f.select :Tag_id, Tag.all.map{|tag| [tag.item, tag.id]}, {} %-->
    <br><br>
    <%= f.radio_button :is_opened, "true" %> <%= f.label :is_opened_true, "公開する" %>
    <%= f.radio_button :is_opened, "false" %> <%= f.label :is_opened_false, "下書き保存" %>
    <br>
    <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>

<!--編集画面の場合はf.submitの表記を変える 課題-->
  </div>
</div>