<br>
<div class="container">
  <div class="row">
    <div class="col-9 border border-dark">
      <div class="font-weight-bold h3">
        <%= @post.title %>
      </div>
      <div class="h6">
        登録タグ:
        <% @post.tags.each do |tag| %>
          ☑<%= tag.item %>
        <% end %><br>
      </div>
    </div>
    <div class="col-3 border border-left-0 border-dark">
      投稿日：<%= l @post.created_at, format: :"long" %><br>
      更新日：<%= l @post.updated_at, format: :"long" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 border border-top-0 border-dark p-3">
      <%= @post.body %>
    </div>
  </div>

  <div class="row">
    <div class="col-4 border border-top-0 border-bottom-0 border-dark">
      投稿者:<%= link_to @post.member.name, member_path(@post.member) %>
      <%= image_tag @post.member.get_member_image(100,100) %>
    </div>
    <div class="col-2 border border-top-0 border-left-0 border-bottom-0 border-dark p-3">
      ブックマークする:<br>
      <%= render "public/bookmarks/btn", post: @post %>
    </div>
    <div class="col-6 mt-4">
      <% if @post.member == current_member %>
        <%= link_to "投稿を削除する", post_path(@post), method: :delete, class: "btn btn-danger mr-4" %>
        <%= link_to "投稿内容を編集する", edit_post_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 border border-dark">
      コメント一覧
    </div>
    <div class="col-12 border border-top-0 border-dark">
      <% @post.comments.each do |comment| %>
        ・<%= comment.body %><br>
        (<%= l comment.created_at, format: :"long" %>) :commented by <%= comment.member.name %><br>
      <% end %>
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </div>
  </div>

</div>