<div class="container">
  <div class="row">
    <h2><%= @member.name %>さんの会員詳細</h2>
  </div>

  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <td class="col-3 border border-dark">会員画像</td>
          <td class="col-9 border border-left-0 border-dark text-center"><%= image_tag @member.get_member_image(200,200) %></td>
        </tr>
        <tr>
          <td class="col-3 border border-top-0 border-dark">会員ID</td>
          <td class="col-9 border border-left-0 border-top-0 border-dark text-center"><%= @member.id %></td>
        </tr>
        <tr>
          <td class="col-3 border border-top-0 border-dark">氏名</td>
          <td class="col-9 border border-left-0 border-top-0 border-dark text-center"><%= @member.name %></td>
        </tr>
        <tr>
          <td class="col-3 border border-top-0 border-dark">登録日時</td>
          <td class="col-9 border border-left-0 border-top-0 border-dark text-center"><%= l @member.created_at, format: :"long" %></td>
        </tr>
        <tr>
          <td class="col-3 border border-top-0 border-dark">メールアドレス</td>
          <td class="col-9 border border-left-0 border-top-0 border-dark text-center"><%= @member.email %></td>
        </tr>
        <tr>
          <td class="col-3 border border-top-0 border-dark">電話番号</td>
          <td class="col-9 border border-left-0 border-top-0 border-dark text-center"><%= @member.phone_number %></td>
        </tr>
        <tr>
         <td class="col-3 border border-top-0 border-dark">会員ステータス</td>
          <td class="col-9 border border-left-0 border-top-0 border-dark text-center">
            <% if @member.is_deleted == true %>
              退会済み
            <% else %>
              有効
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<%= link_to "編集する", edit_admin_member_path, class: "btn btn-success" %>
<%= link_to "投稿一覧を見る", admin_member_posts_path(@member), class: "btn btn-primary" %>
<%= link_to "コメント一覧を見る", admin_member_comments_path(@member), class: "btn btn-primary" %>