<% unless @post_results.blank? %>
  <div class="container">
    <div class="font-weight-bold h4 m-2"><%= @post_results.to_s %>の検索結果</div>
    <div class="row">
      <% @posts_search.each do |post| %>
        <% if post.is_opened == true %>
          <div class="col-8">
            <%= link_to post.title, post_path(post.id), class: "font-weight-bold h4" %><br>
            <p class="text-muted m-0 h6">投稿者:<%= post.member.name %></p>
            <p class="text-muted m-0 h6">
              タグ:
              <% post.tags.each do |tag| %>
                ☑<%= tag.item %>
              <% end %>
            </p>
            <%= post.body.truncate(50) %><br>
          </div>
          <div class="col-2">
            <%= image_tag post.member.get_member_image(100,100) %>
          </div>
          <div class="col-2">
            <p class="h6">
              投稿日：<%= l post.created_at, format: :"yyyy/mm/dd" %><br>
              更新日：<%= l post.updated_at, format: :"yyyy/mm/dd" %>
            </p>
          </div>
        <% end %>
      <% end %>
      <%= paginate @posts_search %>
    </div>
  </div>
<% end %>

<% unless @tag_results.blank? %>
  <div class="container">
    <div class="font-weight-bold h4 m-2"><%= @tag_word %>の検索結果</div>
    <div class="row">
      <% @tag_results.each do |post| %>
        <% if post.is_opened == true %>
          <div class="col-8">
            <%= link_to post.title, post_path(post.id), class: "font-weight-bold h4" %><br>
            <p class="text-muted m-0 h6">投稿者:<%= post.member.name %></p>
            <p class="text-muted m-0 h6">
              タグ:
              <% post.tags.each do |tag| %>
                ☑<%= tag.item %>
              <% end %>
            </p>
            <%= post.body.truncate(50) %><br>
          </div>
          <div class="col-2">
            <%= image_tag post.member.get_member_image(100,100) %>
          </div>
          <div class="col-2">
            <p class="h6">
              投稿日：<%= l post.created_at, format: :"yyyy/mm/dd" %><br>
              更新日：<%= l post.updated_at, format: :"yyyy/mm/dd" %>
            </p>
          </div>
        <% end %>
      <% end %>
      <%= paginate @tag_results %>
    </div>
  </div>
<% end %>

<% if @post_results.blank? & @tag_results.blank? %>
  <div class="h4 font-weight-bold m-4">
    検索項目が空欄です
  </div>
<% end %>