<!DOCTYPE html>
<html>
  <head>
    <title>Sports Connect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/2540c8e43f.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <%= link_to "ロゴ", admin_root_path %>
      <%= link_to "会員一覧", admin_members_path %>
      <%= link_to "投稿一覧", admin_posts_path %>
      <%= link_to "コメント一覧", admin_comments_path %>
      <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
    <% else %>
      <% if member_signed_in? %>
        <%= link_to "ロゴ", root_path %>
        <%= link_to "マイページ", member_path(current_member) %>
        <%= link_to "投稿する", new_post_path %>
        <%= link_to "通知(パスだけ先に設定)", posts_path %>
        <%= link_to "会員ログアウト", destroy_member_session_path, method: :delete %>
      <% else %>
        <%= link_to "ロゴ", root_path %>
        <%= link_to "ログイン", new_member_session_path %>
        <%= link_to "新規登録", new_member_registration_path %>
        <%= link_to "検索する", searches_path %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
